node-red/AzureAWSTwitter.txt
[{"id":"8b1f7dbf.2fe79","type":"tab","label":"Flow 1"},{"id":"10f5aea3.6d5551","type":"twitter in","z":"8b1f7dbf.2fe79","twitter":"","tags":"#azure,#aws","user":"false","name":"Check Azure Tweets","topic":"tweets","inputs":0,"x":123.50003051757812,"y":101.80000305175781,"wires":[["114d5f33.cf6481"]]},{"id":"114d5f33.cf6481","type":"trigger","z":"8b1f7dbf.2fe79","op1":"","op2":"Waiting","op1type":"pay","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","name":"Scheduler","x":234.49996948242188,"y":202.4000244140625,"wires":[["5f66dff.61bc12","d8871d5c.fca88"]]},{"id":"5f66dff.61bc12","type":"ui_text","z":"8b1f7dbf.2fe79","group":"2eb29b9.2ca8f64","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":521.4999847412109,"y":179.60000610351562,"wires":[]},{"id":"d8871d5c.fca88","type":"function","z":"8b1f7dbf.2fe79","name":"CountLogic","func":"var Azurecount = context.get('Azurecount')||0;\nvar Namocount = context.get('Namocount')||0;\n\nvar azuremsg={};\nvar namomsg={};\n\n\nif(msg.tweet.text.includes(\"#Azure\")){\n     Azurecount += 1;\n    context.set('Azurecount',Azurecount);\n    \n}\n\nif(msg.tweet.text.includes(\"#AWS\")){\n     Namocount += 1;\n    context.set('Namocount',Namocount);\n}\n\nazuremsg.payload = Azurecount\nazuremsg.topic = \"Line1\"\n\nnamomsg.payload = Namocount\nnamomsg.topic = \"Line2\"\n\n\nreturn [azuremsg,namomsg];\n","outputs":"2","noerr":0,"x":222.5,"y":384.59999084472656,"wires":[["58e15b05.60a514","e866ee94.83146","14b3ef80.babb81"],["58e15b05.60a514","e866ee94.83146","512e5b0d.129aa4"]]},{"id":"e866ee94.83146","type":"ui_chart","z":"8b1f7dbf.2fe79","name":"","group":"2eb29b9.2ca8f64","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":550.4999847412109,"y":275.8000030517578,"wires":[[],[]]},{"id":"58e15b05.60a514","type":"debug","z":"8b1f7dbf.2fe79","name":"","active":true,"console":"false","complete":"false","x":522.4999847412109,"y":492.59999084472656,"wires":[]},{"id":"14b3ef80.babb81","type":"ui_gauge","z":"8b1f7dbf.2fe79","name":"Azure Meter","group":"3bf631aa.fb288e","order":1,"width":0,"height":0,"gtype":"gage","title":"Azure Tweet Guage","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":671.5000152587891,"y":340.8000030517578,"wires":[]},{"id":"512e5b0d.129aa4","type":"ui_gauge","z":"8b1f7dbf.2fe79","name":"AWS Meter","group":"3bf631aa.fb288e","order":2,"width":0,"height":0,"gtype":"gage","title":"AWS Tweet Gauge","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"x":683.5000152587891,"y":401.8000030517578,"wires":[]},{"id":"2eb29b9.2ca8f64","type":"ui_group","z":"8b1f7dbf.2fe79","name":"Default","tab":"87a75e90.1461d","disp":true,"width":"6"},{"id":"3bf631aa.fb288e","type":"ui_group","z":"","name":"Meter","tab":"c76937bd.c49178","disp":true,"width":"6"},{"id":"87a75e90.1461d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"c76937bd.c49178","type":"ui_tab","z":"","name":"Meter","icon":"dashboard","order":2}]