node-red/AzureIOTHub.txt
[{"id":"c53f8a8c.6b3908","type":"tab","label":"Flow 3"},{"id":"48369da1.690094","type":"azureiothub","z":"c53f8a8c.6b3908","name":"Azure IoT Hub","protocol":"mqtt","x":486.20001220703125,"y":220,"wires":[["47e53f76.04a6"]]},{"id":"634a7672.a36a58","type":"function","z":"c53f8a8c.6b3908","name":"Function","func":"msg1 ='{\"deviceId\": \"seyonDevice1\", \"key\": \"ldVGC/lCFpEaiokPdnHfye0Bj4K6ZAHSbtbaa5TyqS0=\", \"protocol\": \"mqtt\", \"data\": { \"'+ msg.topic + '\":\"' + msg.payload + '\"}}'\nnewMsg = { payload: msg1 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":350.20001220703125,"y":382,"wires":[["48369da1.690094","47e53f76.04a6"]]},{"id":"6bdf0d23.9c3704","type":"inject","z":"c53f8a8c.6b3908","name":"Speed","topic":"speed","payload":"345","payloadType":"num","repeat":"","crontab":"","once":false,"x":167.20001220703125,"y":347,"wires":[["634a7672.a36a58"]]},{"id":"47e53f76.04a6","type":"debug","z":"c53f8a8c.6b3908","name":"","active":true,"console":"false","complete":"payload","x":654.5400390625,"y":310.47998046875,"wires":[]},{"id":"d48dc5e6.638468","type":"inject","z":"c53f8a8c.6b3908","name":"Temperature","topic":"temperature","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"x":185.20001220703125,"y":383,"wires":[["634a7672.a36a58"]]},{"id":"bc41f858.47c2d8","type":"inject","z":"c53f8a8c.6b3908","name":"Pressure","topic":"pressure","payload":"2342","payloadType":"num","repeat":"","crontab":"","once":false,"x":175.20001220703125,"y":419,"wires":[["634a7672.a36a58"]]},{"id":"c985ff3b.78994","type":"inject","z":"c53f8a8c.6b3908","name":"Send Multiple Values","topic":"","payload":"{\"deviceId\": \"seyonDevice1\", \"key\": \"ldVGC/lCFpEaiokPdnHfye0Bj4K6ZAHSbtbaa5TyqS0=\", \"protocol\": \"mqtt\", \"data\": { \"AvgFlowRate\" : 500, \"FlowRate\" : 700, \"AvgStaticPressure\" : 525, \"StaticPressure\" : 518, \"AvgCasingPressure\" : 776, \"CasingPressure\" : 805, \"AvgTubingPressure\" : 609, \"TubingPressure\" : 588}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":206.20001220703125,"y":208,"wires":[["48369da1.690094","47e53f76.04a6"]]},{"id":"82307ee2.088e3","type":"inject","z":"c53f8a8c.6b3908","name":"Send one value","topic":"","payload":"{\"deviceID\": \"Arduino001\", \"SAK\": \"Yub6LJ9vjuPaJ4zWXCPEYr8+eRByyCUwB3h8VefIlEE=\", \"Protocol\": \"mqtt\", \"Data\": { \"Speed\" : \"25\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":184.10995483398438,"y":170.09001922607422,"wires":[["48369da1.690094"]]},{"id":"c4a20df6.b9df3","type":"inject","z":"c53f8a8c.6b3908","name":"Send one value","topic":"","payload":"{\"deviceId\": \"seyonDevice1\", \"key\": \"ldVGC/lCFpEaiokPdnHfye0Bj4K6ZAHSbtbaa5TyqS0=\", \"protocol\": \"mqtt\", \"data\": {\"tem\": \"25\", \"wind\": \"20\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":189.20001220703125,"y":102,"wires":[["48369da1.690094","47e53f76.04a6"]]}]