node-red/AzureIOTHub_HelloWorld.txt
[{"id":"16989157.a3991f","type":"tab","label":"Flow 2"},{"id":"71aaa727.cad688","type":"azureiothubregistry","z":"16989157.a3991f","name":"Azure IoT Hub Registry","x":436.20001220703125,"y":190,"wires":[["dbf1d450.804908"]]},{"id":"7b5f147b.79280c","type":"inject","z":"16989157.a3991f","name":"Register Payload","topic":"","payload":"{\"deviceId\": \"seyondevice2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":206.20001220703125,"y":190,"wires":[["71aaa727.cad688"]]},{"id":"dbf1d450.804908","type":"debug","z":"16989157.a3991f","name":"Log","active":true,"console":"false","complete":"true","x":716.2000122070312,"y":190,"wires":[]},{"id":"e11c11d.e3aadf","type":"debug","z":"16989157.a3991f","name":"Log","active":true,"console":"false","complete":"true","x":716.2000122070312,"y":130,"wires":[]},{"id":"8b831309.a2e8b","type":"azureiothub","z":"16989157.a3991f","name":"Azure IoT Hub","protocol":"mqtt","x":406.20001220703125,"y":130,"wires":[["e11c11d.e3aadf"]]},{"id":"2eb8a867.a95d18","type":"inject","z":"16989157.a3991f","name":"Send Payload","topic":"","payload":"{ \"deviceId\": \"seyondevice2\", \"key\": \"7uNb1Gfm5fNzTluCNwMfgxcykXlwyEJkCDHaIVSp1eo=\", \"protocol\": \"mqtt\", \"data\": \"{tem: 25, wind: 20}\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":196.20001220703125,"y":130,"wires":[["8b831309.a2e8b"]]}]