node-red/NodeRedDashboard.txt
[{"id":"fe54fc7b.b6dec","type":"tab","label":"Flow 2"},{"id":"ce0ff20b.b7f47","type":"inject","z":"fe54fc7b.b6dec","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":199.50001525878906,"y":92.80000305175781,"wires":[["bb0f2427.921f48"]]},{"id":"bb0f2427.921f48","type":"function","z":"fe54fc7b.b6dec","name":"RandomNumber","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":356.49998474121094,"y":260.00001525878906,"wires":[["6fbb64cb.06d58c","649c4fec.42079","ff09191d.b1bc98"]]},{"id":"6fbb64cb.06d58c","type":"ui_chart","z":"fe54fc7b.b6dec","name":"","group":"3bf631aa.fb288e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":513.4999847412109,"y":91.80000305175781,"wires":[[],[]]},{"id":"649c4fec.42079","type":"debug","z":"fe54fc7b.b6dec","name":"","active":true,"console":"false","complete":"false","x":615.4999847412109,"y":259.8000030517578,"wires":[]},{"id":"ff09191d.b1bc98","type":"ui_gauge","z":"fe54fc7b.b6dec","name":"","group":"3bf631aa.fb288e","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":544.4999847412109,"y":162.1999969482422,"wires":[]},{"id":"3bf631aa.fb288e","type":"ui_group","z":"","name":"Default","tab":"87a75e90.1461d","disp":true,"width":"6"},{"id":"87a75e90.1461d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]