node-red/temperatureSensor.txt
[{"id":"189519a4.ec6d76","type":"tab","label":"Flow 1"},{"id":"941ee6c2.17c7f8","type":"inject","z":"189519a4.ec6d76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246,"y":205,"wires":[["7368f92e.8efb68"]]},{"id":"7368f92e.8efb68","type":"rpi-dht22","z":"189519a4.ec6d76","name":"dht22","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"17","x":459,"y":199,"wires":[["7c8472b8.7f882c","c2153e6c.04eb"]]},{"id":"e39af827.0b7dc8","type":"debug","z":"189519a4.ec6d76","name":"","active":true,"console":"false","complete":"false","x":702,"y":418,"wires":[]},{"id":"7c8472b8.7f882c","type":"function","z":"189519a4.ec6d76","name":"dhtbreakdown","func":"var a ={};\nvar b={};\nvar c ={};\n\na.payload = msg.topic\nb.payload=msg.payload\nc.payload= msg.humidity\nreturn [a,b,c]","outputs":"3","noerr":0,"x":202,"y":377,"wires":[["e39af827.0b7dc8"],["e39af827.0b7dc8"],["e39af827.0b7dc8"]]},{"id":"263b8ac.8bf1076","type":"azureiothub","z":"189519a4.ec6d76","name":"Azure IoT Hub","protocol":"mqtt","x":712,"y":107,"wires":[["25a1fd5.d3e6802"]]},{"id":"25a1fd5.d3e6802","type":"debug","z":"189519a4.ec6d76","name":"","active":true,"console":"false","complete":"true","x":833,"y":240,"wires":[]},{"id":"c2153e6c.04eb","type":"function","z":"189519a4.ec6d76","name":"SendTemperaturetoAzure","func":"msg1 ='{\"deviceId\":\"seyondevice4\",\"key\":\"0l7187fnQB2W0nJmAjfcmst8KPNR5Aibd9AgH0Mlzh4=\",\"protocol\":\"mqtt\",\"data\":{\"Temperature\":\"'+msg.payload+'\",\"Humidity\":\"'+msg.humidity+'\"}}'\nnewMsg = {payload:msg1};\nreturn newMsg;","outputs":1,"noerr":0,"x":438,"y":55,"wires":[["263b8ac.8bf1076"]]}]