node-red/twitter war.txt
[{"id":"a95d7a7c.853828","type":"tab","label":"Flow 1"},{"id":"c54b43ff.2620a","type":"twitter in","z":"a95d7a7c.853828","twitter":"","tags":"#azure,#ops","user":"false","name":"Check Azure Tweets","topic":"tweets","inputs":0,"x":123.50003051757812,"y":101.80000305175781,"wires":[["89f0ee60.72eeb"]]},{"id":"89f0ee60.72eeb","type":"trigger","z":"a95d7a7c.853828","op1":"","op2":"Waiting","op1type":"pay","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","name":"","x":234.49996948242188,"y":202.4000244140625,"wires":[["a575d732.34ee88","620a9fb7.a7e23"]]},{"id":"a575d732.34ee88","type":"ui_text","z":"a95d7a7c.853828","group":"3bf631aa.fb288e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":521.4999847412109,"y":179.60000610351562,"wires":[]},{"id":"cc598564.8a74e8","type":"debug","z":"a95d7a7c.853828","name":"OPS","active":true,"console":"false","complete":"payload","x":516.4999847412109,"y":302.8000030517578,"wires":[]},{"id":"63315b58.5a59f4","type":"function","z":"a95d7a7c.853828","name":"AzureCountLogic","func":"var Azurecount = context.get('Azurecount')||0;\nvar Azuremsg = { isAvailable: msg.payload.includes(\"#Azure\") };\n\n\nif(Azuremsg.isAvailable === true){\n    Azurecount += 1;\n    context.set('Azurecount',Azurecount);\n    Azuremsg.isAvailable = false\n}\n\nvar newMsg = { payload: Azurecount };\n\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":244.5,"y":443.0000457763672,"wires":[["792ebeef.c209f","a33f0b8.42637f8","4c6a263a.d386b8"]]},{"id":"a33f0b8.42637f8","type":"ui_chart","z":"a95d7a7c.853828","name":"","group":"3bf631aa.fb288e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"x":712.5000152587891,"y":407.8000030517578,"wires":[[],[]]},{"id":"792ebeef.c209f","type":"debug","z":"a95d7a7c.853828","name":"Azure","active":true,"console":"false","complete":"payload","x":558.4999847412109,"y":520.8000335693359,"wires":[]},{"id":"9e3e8c97.26a1","type":"function","z":"a95d7a7c.853828","name":"NamoCount","func":"var Namocount = context.get('Namocount')||0;\nvar Namomsg = { isAvailable: msg.payload.includes(\"#ops\") };\n\n\nif(Namomsg.isAvailable === true){\n    Namocount += 1;\n    context.set('Namocount',Namocount);\n    Namomsg.isAvailable = false\n}\n\nvar newMsg = { payload: Namocount };\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":357.49998474121094,"y":378.8000030517578,"wires":[["a33f0b8.42637f8","cc598564.8a74e8","4c6a263a.d386b8"]]},{"id":"620a9fb7.a7e23","type":"switch","z":"a95d7a7c.853828","name":"Switch path","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"#ops","vt":"str"},{"t":"cont","v":"#Azure","vt":"str"}],"checkall":"true","outputs":2,"x":148.50001525878906,"y":320.00001525878906,"wires":[["9e3e8c97.26a1"],["63315b58.5a59f4"]]},{"id":"4c6a263a.d386b8","type":"function","z":"a95d7a7c.853828","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":588.4999847412109,"y":455.6000213623047,"wires":[[]]},{"id":"3bf631aa.fb288e","type":"ui_group","z":"","name":"Default","tab":"87a75e90.1461d","disp":true,"width":"6"},{"id":"87a75e90.1461d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]